body {
    background-color: #222629;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: system-ui;
}
h1 {
    color: #FFFFFF;
    margin-bottom: 20px; 
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}
label {
    color: #86C232;
    font-size: 20px;
    margin-bottom: 10px;
}
button {
    background-color: #86C232;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px; 
    cursor: pointer;
    margin-top: 10px;
    width: 140px;
}
input {
    font-size: 20px;
    margin-bottom: 10px; 
    width: 200px;
}
.reg {
    color: #86C232;
    font-size: 20px;
    margin-top: 10px;
}
a {
    color: #86C232;
    text-decoration: underline;
    margin-left: 5px; 
}
#error {
    color: #e10000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
